body {
  background-color: #232323;
  margin: 0;
  font-family: "Comic Sans MS";
}

h1 {
  color: white;
  text-align: center;
  background-color: steelblue;
  margin: 0;
  line-height: 1.1;
  font-weight: normal;
  text-transform: uppercase;
  padding: 20px 0;
  transition: background-color 0.6s;
}

#container {
  max-width: 600px;
  margin: 15px auto;
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 50%;
  transition: background 0.6s;
}

.square-sm {
  width: 20%;
  background: purple;
  padding-bottom: 20%;
  float: left;
  margin: 1.66%;
  border-radius: 50%;
  transition: background 0.6s;
}

.square-xs {
  width: 10%;
  background: purple;
  padding-bottom: 10%;
  float: left;
  margin: 0.33%;
  border-radius: 50%;
  transition: background 0.6s;
}

.square-ss {
  width: 4.7%;
  background: purple;
  padding-bottom: 4.7%;
  float: left;
  margin: 0.33%;
  border-radius: 50%;
  transition: background 0.6s;
}

#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
  color: red;
}

.selected {
  color: white;
  background-color: gray;
}

#colorDisplay {
  font-size: 200%;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.5s;
  outline: none;
}

#message {
  display: inline-block;
  width: 20%;
}

button:hover {
  color: white;
  background-color: steelblue;
}
